@import "../../../styles/variables.scss";

.register-block {
  position: absolute;
  width: 350px;
  height: fit-content;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px;
}
