@import "../../../styles/variables.scss";

.email-verified-block {
  position: absolute;
  width: 350px;
  height: 150px;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid $common-white;
  border-radius: 20px;
  padding: 20px;
}
